body {background-color: #3B3B5B;}

section {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 99%;
}

.menu {background-color: #F8F7FD; padding: 20px; text-align: center; width: 200px;}

.nowColor {margin-bottom: 20px; margin-top: 20px; position: relative;}

.nowColor span {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #2d3436;
    display: inline-block; 
    border: 1px solid #2d3436;
    position: absolute;
    left: 75%;
}

i {padding: 10px; cursor: pointer; transition: .5s; margin: 10px 0;}

i:hover {filter: invert(70%);}

.list {list-style: none; padding: 0; margin: 0; background-color: #ced6e0; padding: 10px;}

.li {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.canvas {
    display: block;
    background-color: #f1f2f6;
    width: 1200px;
    height: 600px;
}